{{- range $i := until (int .Values.kafka.replicas) }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-kafka-{{ $i }}
spec:
  capacity:
    storage: {{ .Values.kafka.storage }}Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: manual-hostpath
  hostPath:
    path: /mnt/data/kafka-{{ $i }}
{{- end }}
