{{- $namespace := .Release.Namespace | default "default" }}
{{- range .Values.prometheusAlerts }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ .group | default "prometheus-rule" }}-rules
  namespace: {{ $namespace }}
  labels:
    release: {{ .release | default "kube-prometheus-stack" }}
spec:
  groups:
  - name: {{ .group }}-rules
    rules:
    {{- range .rules }}
    - alert: {{ .alert }}
      expr: {{ .expr | quote }}
      for: {{ .for }}
      labels:
      {{- toYaml .labels | nindent 8 }}
      annotations:
      {{- toYaml .annotations | nindent 8 }}
    {{- end }}
{{- end }}
