{{- $namespace := .Release.Namespace | default "default" }}
{{- range .Values.services }}
{{- if .servicePort }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  namespace: {{ $namespace }}
  labels:
    app: {{ .name }}
spec:
  type: {{ .type | default "ClusterIP" }}
  selector:
    app: {{ .name }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .servicePort }}
      targetPort: {{ .port | default .servicePort }}
{{- end }}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ $namespace }}
  labels:
    app: kafka
spec:
  clusterIP: None
  selector:
    app: kafka
  ports:
    - name: broker
      port: 9092
